{% extends "cityfury/post/posts.html" %}
{% load thumbnail %}

{% block extra_head %}

    <script>
        $(function () {
            $(".info-col").css("height", $("#main").height() - $('#main nav ').outerHeight() - $('#main .breadcrumb').outerHeight());
            $(".comment-counter").click(function() {
                $("textarea").focus();
            });

            $(".flag-button").live("click", function() {
                var remote = $(this).attr("rel");
                $("#iframe-modal .modal-title").text("Flag Post");
                $("#iframe-modal .modal-body").html($('<iframe style="hidden: auto;width:530px" height="200px" width="550px" frameborder="0" />')
                .attr("src", remote));
                $('#iframe-modal').modal();
            });

            $(".resolve-button").live("click", function() {
                var remote = $(this).attr("rel");
                $("#iframe-modal .modal-body").html($('<iframe style="hidden: auto;" height="80%" width="95%" frameborder="0" />')
                .attr("src", remote));
                $('#iframe-modal').modal();
            });

            $(".contact").live("click", function() {
                var remote = $(this).attr("rel");
                $("#iframe-modal .modal-body").html($('<iframe style="hidden: auto;" height="80%" width="95%" frameborder="0" />')
                .attr("src", remote));
                $('#iframe-modal').modal();
            });

            $(".dislike-button").live("click", function() {
                var post_id = $(this).attr("rel");
                var dislike_counter = $(".dislike-counter[rel='" + post_id + "']")
                $.ajax({
                    url: "{% url "dislike" %}?post=" + post_id,
                    success: function(data, status) {
                        if (data.success) {
                            dislike_counter.find(".dislikes").text(data.dislikes);
                            if (data.action == "disliked")
                            {
                                dislike_counter.addClass("disliked");
                            }
                            if (data.action == "undisliked")
                            {
                                dislike_counter.removeClass("disliked");
                            }
                        } else {
                            var remote = "{% url 'login' %}?modal=true&close=true";
                            $("#iframe-modal .modal-title").text("Login to DisLike Post");
                            $("#iframe-modal .modal-body").html($('<iframe style="hidden: auto;height:300px;width:530px" height="400px" width="550px" frameborder="0" />')
                            .attr("src", remote));
                            $('#iframe-modal').modal();
                        }
                    }
                });
            });


        });
    </script>

    <style>
        #main { margin: 0; padding: 0; }
        #post-container { padding: 0; margin: 0; }
        #post-main-col { padding: 0 0 15px 0; }
        .info-col { margin-bottom: 0; padding: 10px 20px 10px 10px; }
        .info-col { background-color: #1C221F; font-size: 15px; color: rgb(172, 153, 153); }
        #comment { padding: 0 10px; }
        #article, #description, .comment-container { background-color: #EDEEEB; color: #999; padding: 15px 15px 10px 15px; margin: 0 0 10px 0; }
        #description { margin: -10px 0 10px 0; }
        #description, #article { color: #363636; font-size: 16px; }
        #article { padding-bottom: 50px; }
        .comment-container .comment { color: #666; }
        textarea { margin-bottom: 10px; }
        .posted-by { color: rgb(218, 221, 220); }
    </style>
{% endblock %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="{% url "posts" %}">Posts</a></li>
        <li>Post</li>
        <li class="active">{{ post.caption|truncatechars:60 }}</li>
    </ol>
    <div class="row" id="post-container">

        <div class="col-sm-9" id="post-main-col">
            {% if post.type == "I" %}
                <div id="image-container">
                {% thumbnail post.image "400" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                    <div class="caption lead">
                        <span class="caption-text">{{ post.caption }}</span>
                        <div class="dislike-button dislike-counter {% if user in post.dislikes.all %}disliked{% endif %}" rel="{{ post.id }}">
                            <span class="dislikes">{{ post.dislike_set.count }}</span> <span class="glyphicon glyphicon-thumbs-down"></span>
                        </div>
                        <a href="#comment"><div class="comment-counter">{{ post.comment_set.count }} <span class="glyphicon glyphicon-comment"></span></div></a>
                    </div>
                </div>
                {% if post.description %}<div id="description" class="lead">{{ post.description }}</div>{% endif %}
            {% endif %}

            {% if post.type = "T" %}
                <div id="article-container">
                    <div id="article" class="lead">
                        <h3>{{ post.caption }}</h3>
                        {{ post.description|safe }}
                    </div>
                    <div class="caption lead">
                        <div class="dislike-button dislike-counter {% if user in post.dislikes.all %}disliked{% endif %}" rel="{{ post.id }}">
                            <span class="dislikes">{{ post.dislike_set.count }}</span> <span class="glyphicon glyphicon-thumbs-down"></span>
                        </div>
                        <a href="#comment"><div class="comment-counter">{{ post.comment_set.count }} <span class="glyphicon glyphicon-comment"></span></div></a>
                    </div>
                </div>
            {% endif %}

            <div id="comment">
                <form action="." method="post">{% csrf_token %}
                    <textarea class="form-control" rows="3" name="comment" placeholder="{% if post.comment_set.all %}Leave a comment{% else %}Be the first to comment{% endif %}"></textarea>
                    <input type="submit" class="btn btn-default" />
                </form>
                <div class="clearfix"></div>
                {% for comment in post.comment_set.all %}
                    <div class="comment-container">
                        <div class="comment">{{ comment }}</div>
                        Posted by {% if comment.user %}{{ comment.user }}{% else %}Anonymous{% endif %} at {{ comment.created_date }}
                    </div>
                    <div class="clearfix"></div>
                {% endfor %}

            </div>
        </div>
        <div class="lead info-col col-sm-3">
            <span class="posted-by">Posted by {% if post.user %}{{ user.username }}{% else %}Anonymous{% endif %} on {{ post.created_date }}</span><br/>
            Category: <a href="{{ post.get_city_absolute_url }}">{{ post.category.name }}</a><br/>
            City: <a href="{{ post.get_city_absolute_url }}">{{ post.city.name }}</a><br/>
            Area: {{ post.area.name }}<br/>
            Location: {{ post.location_string }}<br/>
            <span class="flag-button" rel="{% url "flag-post" post.id %}">Flag inappropriate <span class="glyphicon glyphicon-bullhorn"></span></span><br/>
            <span class="resolve-button" rel="{% url "resolve" %}?post={{ post.id }}">Know who can resolve this? <span class="glyphicon glyphicon-ok-circle"></span></span><br/>

            <div class="contact-container">
            {% for contact in post.contact_set.all %}
                {% if forloop.first %}
                <div id="contact-header" class="lead">Who to contact? <span class="glyphicon glyphicon-phone-alt"></span></div>
                {% endif %}
                <div class="contact" rel="{% url "contact" contact.id %}?modal=true">
                    {{ contact }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ac11270d88154d"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'offset' : {"top": "320px"},
      'position' : 'right',
      'numPreferredServices' : 5
    }, 
    'follow' : {
      'offset' : {"top": "92px"},
      'services' : [
        {'service': 'facebook', 'id': 'cityfury'},
        {'service': 'twitter', 'id': 'cityfury'},
        {'service': 'google_follow', 'id': 'u/0/b/108573140982464450281/108573140982464450281'}
      ]
    },  
    'whatsnext' : {}  
  });
</script>
<!-- AddThis Smart Layers END -->

{% endblock %}
