{% if user.is_anonymous %}
    <a class="header-links register" href="{% url "register" %}?next={% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}">Register</a>
    <a class="header-links login" href="{% url "login" %}?next={% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}">Login</a>
{% else %}
    <a class="header-links logout" href="{% url "logout" %}?next={% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}">Logout</a>
    <span class="header-links greeting">Welcome {{ user.username }}</span>
{% endif %}
