<html>
<head>

    <title>CityFury - Angry Citizens Unite!</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/cityfury/img/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/cityfury/css/modal.css">
    <script>parent.getLoginButtons();</script>
    <style>
        body {overflow: hidden; }
    </style>
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>
