{% extends "base.html" %}

{% block main %}
<div id="content" class="home-content about-content">
    <p class="lead">
        In the words of the Mahatma, "Be the change you wish to see".
    </p>
    <p class="lead">
        This website is still an infant. Meaning, it was born just on the eve of December 10, 2013.
        And, I'm not entirely sure which route it will take or what its exact purpose is. All I know
        is that, instead of merely complaining (as I have done for years) about the things that need to be 
        changed/fixed, Let me document it somewhere, so someone might hopefully stumble upon it and be driven to do 
        something about it. If you have any persistent complaint about your city, feel free to post it here, and we 
        will do as much as we can to give it some coverage/visibility. And, lets see where it will go!
    </p>
    <p class="lead">
        In the next few weeks and months, stay tuned for updates to the site.<br/>
        For ways how you can support us, visit the <a href="{% url "support" %}">support</a> page.
        Together, we can make a difference!
    </p>
</div>
{% endblock %}
