{% extends "base.html" %}

{% block main %}
<div id="content" class="home-content">
    <div class="row">
        <div class="lead col-lg-12">
            Welcome to CityFury ~ A place to list what needs fixing in your city and the people that can fix them!<br/>
        </div>
    </div>
    <div class="row">
        <div class="lead col-lg-7">
            <br/>
            <span class="glyphicon glyphicon-zoom-in"></span> To learn more, visit our <a href="{% url "about" %}">about</a> page<br/>
            <span class="glyphicon glyphicon-heart-empty"></span> For ways how you can help, visit our <a href="{% url "support" %}">support</a> page<br/>
            <span class="glyphicon glyphicon-phone-alt"></span> If you have some feedback, <a href="{% url "contact" %}">contact</a> us to let us know!<br/>
            <span class="glyphicon glyphicon-eye-open"></span> You can also <a href="{% url "post_form" %}">post</a> or view <a href="{% url "posts" %}">posts</a><br/><br/>
            We are excited to see what we can build together<br/>
            Come along for the ride!
            <br/><br/><br/>
            <a href="https://www.facebook.com/cityfury" target="blank"><img id="like_image" width="40" src="{{ STATIC_URL }}cityfury/img/facebook_like.png" /></a> us on facebook<br/><br/>
        </div>
        <div class="col-lg-5">
            <img class="home-image" width="500" src="{{ STATIC_URL }}cityfury/img/rickshaw.jpg" />
        </div>
    </div>
</div>
{% endblock %}
