{% extends "base.html" %}

{% block main %}
<div id="content" class="home-content">
    <p class="lead">
        Right now, you can contribute in one of the following ways:
    </p>
    <ol class="lead">
        <li>Volunteer as site admins for your city/area and help us build our database of contacts</li>
        <li>Web/App development expertise</li>
        <li>Cartoonists! We want to flood this place with cartoons</li>
        <li>Help running our <a href="http://facebook.com/cityfury/" target="blank">Facebook</a> page</li>
        <li>Partner up with us if you are a volunteer organisation working towards the same goal</li>
    </ol>
    <p class="lead">
        Next Up:
    </p>
    <ol class="lead">
        <li>Populate our database of cities/areas/contacts</li>
        <li>Google maps, Facebook integration</li>
        <li>Mobile friendly website/app</li>
    </ol>
    <p class="lead">
        Please <a href="{% url "contact" %}">contact</a> us to let us know how you can help!<br/>
    </p>
</div>
{% endblock %}
